<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/grocery-history.css" />
  <link rel="stylesheet" href="/css/grocery.css" />
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="row">
        <div class="col s12 m3">
          <h5>Dates:</h5>
          <ul class="gh-list-container">
            <% lists.forEach(item => { %>
              <li 
                class="gh-list-item"
                data-grocery-list-id="<%= item.id %>" 
                data-startdate="<%= item.startDate %>" 
                data-enddate="<%= item.endDate%>">
                <%= item.startDate %> - <%= item.endDate%>
              </li>
            <% }) %>
          </ul>
        </div>

        <div class="col s12 m6">
          <h5>Grocery List</h5>
          <div id="grocery-details-dates"></div>
          <div id="grocery-details">Select a list to view details</div>
        </div>

        <div class="col s12 m3">
          <h5>Logs</h5>
          <div id="log-details">Activity logs will show here</div>
          <div id="log-container" class="log-list"></div>
        </div>
      </div>
    </div>
    <%- include('partials/groceryListEditModal') %>
    <%- include('partials/scripts') %>

      <script src="/js/groceryListHistory.js"></script>
      <script src="/js/groceryListEditModal.js"></script>
  </body>
</html>