<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/navbar') %>

        <!-- Welcome Section -->
        <div class="container" style="margin-top: 40px">
            <h5>
                Welcome back,
                <span id="username-placeholder"><%= user.username %></span>
                👋
            </h5>
            <p>Here are some meals we think you’ll love:</p>

            <!-- Category Strip -->
            <%- include('partials/dietary-preference/category-strip') %>

            <!-- Meal Carousel / Diet Tags -->
            <%- include('partials/dietary-preference/diet-tags') %>

            <!-- Meal Carousel / Grid -->
            <%- include ('partials/recipes/recipe-options') %>
        </div>

        <%- include('partials/scripts') %>
        <!--include modal-->
        <%- include("partials/recipes/add-to-meal-modal") %>
    </body>
</html>
